textarea {
  width: 500px;
  min-height: 75px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

th.thhead {
  width: 50%;
}
th.addcamera {
  min-width: 132px;
  width: 132px;
}
th.stream {
  min-width: 197px;
  width: 197px;
}
td input {
  width: 100%;
}